@model ViewModel.ViewModels.JsonProjectReferencesVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="text-sm">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Project References</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- new vendor form -->
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row center" style="float: none; margin: 0 auto;">
                    <div class="col-md-12">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Edit</h3>
                            </div>
                            <div class="card-body row">


                                @Html.HiddenFor(model => model.Id)

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Project Name</label>
                                        <input type="text" asp-for="name" class="form-control" />
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Project Detail</label>
                                        <input type="text" asp-for="detail" class="form-control" />
                                        <span asp-validation-for="detail" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Building</label>
                                        <input type="text" asp-for="building" class="form-control" />
                                        <span asp-validation-for="building" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Image</label>
                                        <input type="text" asp-for="urlImage" readonly class="form-control" />
                                        @Html.TextBox("Upload", "", new
                                          {
                                              type = "file",
                                              @accept = "image/*"
                                          })
                                        <span asp-validation-for="urlImage" class="text-danger"></span>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Project Type</label>
                                        <select asp-for="type" asp-items="@(new SelectList(Model.ListProjectType,"Id","name"))" class="form-control select2">
                                            @if (Model.type == null || Model.type == "")
                                            {
                                                <option disabled selected value=""> -- select an option -- </option>
                                            }
                                        </select>
                                        <span asp-validation-for="type" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Location</label>
                                        <input type="text" asp-for="location" class="form-control" />
                                        <span asp-validation-for="location" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Youtube</label>
                                        <input type="text" asp-for="urlYoutube" class="form-control" />
                                        <span asp-validation-for="urlYoutube" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">List Product Used</label>
                                        <input type="text" asp-for="listProductUsed" class="form-control" />
                                        <span asp-validation-for="listProductUsed" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Project Year</label>
                                        <input type="text" asp-for="projectYear" class="form-control" />
                                        <span asp-validation-for="projectYear" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row ml-1">
                                    <div class="ml-auto mr-3">
                                        <i class="text-sm">
                                            Last modified by <a href="#">@Model.LastModifiedBy</a> at <a href="#">@Model.LastModifiedTime</a>
                                        </i>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer row">

                                <input type="submit" value="Submit" class="btn btn-success" />
                                &nbsp;
                                <a asp-action="Index" class="btn btn-danger">Cancel</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- new vendor form -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section myScripts{
<script src="~/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("form").submit(function () {

            ShowLoading();

        });

        @if (TempData["notification"] != null)
        {
            @Html.Raw(TempData["notification"])
        }
    });


</script>

}