@model MainProject.Models.UserViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


<div class="text-sm">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">New User Registration</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- new vendor form -->
            <form asp-action="AddOrEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row center" style="float: none; margin: 0 auto;">
                    <div class="col-md-12">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Input User Information</h3>
                            </div>
                            <div class="card-body">

                                <div class="form-group">
                                    <label class="control-label"> User MAP (Active Directory)</label>
                                    <input id="isAD" name="isAD" type="checkbox" value="true" @(Model.isAD ? "checked=\"checked\"" : "") />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input type="email" asp-for="Email" id="notAdEmail" class="form-control" />
                                    <div class="select2init">
                                        <select asp-for="EmailApproval" class="srchEmailUser2 form-control">
                                            @if (Model.EmailApproval != "")
                                            {
                                                <option selected="selected">@Html.Raw(@Model.EmailApproval)</option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <span asp-validation-for="EmailApproval" class="text-danger"></span>
                                </div>
                                @if (string.IsNullOrEmpty(Model.Id))
                                {
                                    <div id="passwordAD" class="form-group">
                                        <label asp-for="Password" class="control-label"></label>
                                        <input type="password" asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                }

                                <div class="form-group">
                                    <label asp-for="UserType" class="control-label">User Type</label>
                                    <select class="select2 form-control " data-placeholder="Select User Type" asp-for="UserType" asp-items="@(new SelectList(Model.UserTypeDetails,"id","userTypeName"))">
                                        @if (Model.UserType == null || Model.UserType == "")
                                        {
                                            <option disabled selected value=""> -- select an option -- </option>
                                        }
                                    </select>
                                    <span asp-validation-for="UserType" class="text-danger"></span>
                                </div>




                            </div>
                            <div class="card-footer row">

                                <input type="submit" value="Submit" class="btn btn-success" />
                                &nbsp;
                                <a asp-action="Index" class="btn btn-danger">Cancel</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- new vendor form -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section myScripts{
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("form").submit(function () {

                ShowLoading();

            });

            $("#isAD").click(function () {
                if ($('#isAD').is(':checked')) {
                    $(".select2init").css("display", "block");
                    $("#notAdEmail").css("display", "none");
                    $("#passwordAD").css("display", "none");
                } else {
                    $(".select2init").css("display", "none");
                    $("#notAdEmail").css("display", "block");
                    $("#passwordAD").css("display", "block");
                }
            });


            if ($('#isAD').is(':checked')) {
                $(".select2init").css("display", "block");
                $("#notAdEmail").css("display", "none");
                $("#passwordAD").css("display", "none");

            } else {
                $("#notAdEmail").css("display", "block");
                $(".select2init").css("display", "none");
                $("#passwordAD").css("display", "block");
            }

            @if (TempData["notification"] != null)
            {
                @Html.Raw(TempData["notification"])
            }

        });

    </script>

}