@model ViewModel.ViewModels.JsonCompanyProfileVM

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}


@section myScripts{
    <script src="~/plugins/jquery/jquery.min.js"></script> 
    <script>
        $(document).ready(function () {

            $("form").submit(function () {

                ShowLoading();


            });

            @if (TempData["notification"] != null)
            {
                @Html.Raw(TempData["notification"])
            }


            tinymce.init({
                selector: 'textarea#tiny'
            plugins: [
                    'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
                    'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
                    'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
                ],
                toolbar: 'undo redo | a11ycheck casechange blocks | bold italic backcolor | alignleft aligncenter alignright alignjustify |' +
                    'bullist numlist checklist outdent indent | removeformat | code table help'
            });

        });

    </script>

}

<div class="text-sm">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Company Profile</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- new vendor form -->
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row center" style="float: none; margin: 0 auto;">
                    <div class="col-md-12">
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Edit</h3>
                            </div>
                            <div class="card-body row">


                                @Html.HiddenFor(model => model.Id)

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">About Company</label>
                                        <br />
                                        @*<input type="text" asp-for="about" class="form-control" />*@
                                        <textarea rows="5" cols="150" id="tiny" asp-for="about">@Model.about</textarea>
                                        <span asp-validation-for="about" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Vision Mission</label>
                                        @*<input type="text" asp-for="visionMission" class="form-control" />*@
                                        <textarea rows="5" cols="150" id="visionMission" asp-for="visionMission">@Model.visionMission</textarea>
                                        <span asp-validation-for="visionMission" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Image</label>
                                        <input type="text" asp-for="imgUrl" class="form-control" readonly />
                                        @Html.TextBox("Upload", "", new
                                        {
                                            type = "file",
                                            @accept = "image/*"
                                        })
                                        <span asp-validation-for="imgUrl" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Url Image Project Reff</label>
                                        <input type="text" asp-for="imgUrlProjectReff" class="form-control" readonly />
                                        @Html.TextBox("UploadProjectReff", "", new
                                        {
                                            type = "file",
                                            @accept = "image/*"
                                        })
                                        <span asp-validation-for="imgUrlProjectReff" class="text-danger"></span>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label">Url Image Showroom</label>
                                        <input type="text" asp-for="imgUrlShowroom" class="form-control" readonly />
                                        @Html.TextBox("UploadShowroom", "", new
                                        {
                                            type = "file",
                                            @accept = "image/*"
                                        })
                                        <span asp-validation-for="imgUrlShowroom" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Catalog Compro</label>
                                        <input type="text" asp-for="pdfUrl" class="form-control" />
                                        <span asp-validation-for="pdfUrl" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Url Youtube</label>
                                        <input type="text" asp-for="youtubeId" class="form-control" />
                                        <span asp-validation-for="youtubeId" class="text-danger"></span>
                                    </div>
                                    <div class="row ml-1">
                                        <div class="ml-auto mr-3">
                                            <i class="text-sm">
                                                Last modified by <a href="#">@Model.LastModifiedBy</a> at <a href="#">@Model.LastModifiedTime</a>
                                            </i>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">

                                </div>

                            </div>
                            <div class="card-footer row">

                                <input type="submit" value="Submit" class="btn btn-success" />


                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- new vendor form -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
